html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #edeef0;
}

body {
  margin: 0%;
  padding: 0;
  height: 95%;
}

.container {
  margin: 1%;
  background-color: #fff;
  border: 1px solid #e7e8ec;
  border-radius: 4px;
  margin-left: 25%;
  min-width: 100px;
  width: 70%;
  min-height: 785px;
  height: auto;
}

.content {
  margin: 30px;
  font-family: 'trebuchet ms';
}

.content h1, h2 {
  color: #2a5885;
}

.content h1 {
  text-align: center;
}

.content p {
  font-size: 16pt;
  line-height: 1.5;
  /* color: */
}

.sidebar  {
    width: auto;
    height: auto;
    background-color: #fff;
    float: left;
    border: 1px solid #e7e8ec;
    border-radius: 5px;
    margin-left: 2%;
}

.sidebar li {
  list-style-type: none;
}

.sidebar ul {
  margin-left: 10px;
  padding-left: 0;
}

.sidebar-item {
  font-family: 'comic sans ms';
  padding: 10px;
  font-size: 14pt;
  color: #2a5885;
}

.sidebar a {
  text-decoration: none;
  color: #2a5885;
 }

.sidebar a:hover {
  color: #555555;
}

footer {
  position: absolute;
  min-height: 120px;
  width: 90%;
  left: 5%;
  border-top: 1px solid #c1c1c1;
  background-color: #edeef0;
  padding: 0px;
  margin: 0;
}

footer p {
  padding: 5px;
  text-align: right;
  color: #2a5885;
  font-family: 'monospace';
}

footer img {
  float: left;
  height: 80px;
  padding: 20px;
}
